*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Yu Gothic", sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    overflow-x: hidden;
}

//hero
.hero {
    color: $accent-white;
}
.hero-title {
    font-weight: 500;
    font-size: 50px;
}
.hero-sub-title {
    font-size: 20px;
}
//page titles
.page-title {
    font-size: 64px;
    color: $dark-title;
    font-weight: 600;
    text-align: center;
    line-height: 80px;
    margin-top: 35px;
    @include mobile {
        margin-top: 89px;
    }
}

.page-title-single-blog {
    font-size: 36px;
    font-family: "Yu Gothic";
    font-weight: 400;
}
.page-subtitle-single-blog {
    font-size: 25px;
}
//sections
.section-title {
    font-family: "Yu Gothic";
    width: 100%;
    font-size: 36px;
    color: $dark-title;
    text-align: center;
}
.section-heading {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 65px;
}
.section-subtitle {
    width: 100%;
    font-size: 17px;
    font-family: "Montserrat";
    color: $dark-text;
    text-align: center;
}
.section-text {
    width: 100%;
    max-width: 546px;
    font-size: 15px;
    font-family: "Montserrat";
    color: $dark-text;
    text-align: center;
}
.section-wrapper {
    margin: 50px auto;
}
.single-service-section-title {
    font-weight: 700;
    font-size: 36px;
    color: $dark-text;
}
.products-wrapper {
    padding-bottom: 137px;
}
