$gray-80: #807e7e;
$gray-be: #bebebe;
$gray-a0: #a0a0a0;
$gray-c4-30: #c4c4c44d;
$gray-eb: #ebeaea;
$gray-f4: #f4f4f4;
$gray-c4: #c4c4c4;
$gray-9b: #9b9b9b;
$gray-ed: #edecec;
$gray-cd: #cdcdcd;
$gray-9b: #9b9b9b;
$gray-e5: #e5e5e5;
$gray-f1: #f1f1f1;
$accent-white: #ffffff;
$accent-black: #000000;
$accent-black-1b: #1b1b1b;
$dark-title: #222222;
$dark-text: #333333;
$dark-text-06: #060606;
$accent-gold-ef: #efdd95;
$accent-gold-f9: #f9eec6;
$accent-gold: #d6c174;
$accent-red: #ff0000;
$accent-yellow: #ffbe3f;
