@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Princess+Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
    font-family: "Ragista";
    src: url("/assets/fonts/Ragista/Ragista.woff") format("woff"),
        url("/assets/fonts/Ragista/Ragista.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Yu Gothic";
    src: url("/assets/fonts/Yu_Gothic/yugothic.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Yu Gothic Bold";
    src: url("/assets/fonts/Yu_Gothic/yugothib.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("/assets/fonts/Proxima_Nova/proxima_nova_font-webfont.woff2") format("woff2"),
        url("/assets/fonts/Proxima_Nova/proxima_nova_font-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
