.contacts-wrapper {
    margin-bottom: 100px;
}
.contacts-main-content {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    .artical-section {
        display: flex;
        box-sizing: border-box;
        margin-bottom: 55px;
        @include tablet {
            flex-direction: column;
            text-align: start !important;
            h3 {
                text-align: center;
            }
            p {
                align-items: center;
                justify-content: center;
            }
        }
        &:nth-of-type(even) {
            text-align: right;
            align-self: flex-end;
            .artical-content {
                h3 {
                    text-align: right;
                }
                p {
                    flex-direction: row-reverse;
                    a {
                        margin-right: 9px;
                    }
                }
            }

            @include tablet {
                flex-direction: column-reverse;
            }
        }

        &:last-of-type {
            margin-bottom: 0;
        }
        .contacts-image-container {
            img {
                width: 95%;
                object-fit: cover;
                @include tablet {
                    width: 100%;
                }
            }
        }
        .artical-content {
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            @include tablet {
                align-items: center;
            }
            h3 {
                font-size: 24px;
                font-weight: 600;
                color: $dark-text-06;
            }

            p {
                display: flex;
                align-items: center;
                width: 100%;
                font-family: "Proxima Nova";
                font-size: 15px;
                font-weight: 600;

                a {
                    margin-left: 9px;
                    color: $dark-text-06;
                    transition: 0.3s;
                    &:hover {
                        color: $dark-text;
                    }
                }
            }
            p:last-child {
                a {
                    font-family: "Montserrat", sans-serif;
                    color: $dark-text;
                    text-decoration: underline;
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }
}
.map-wrapper {
    width: 100%;
    margin-top: 15px;
    iframe {
        width: 100%;
        height: 380px;
    }
}
.contacts-comment-insert {
    text-align: center;
    .contact-now {
        display: flex;
        width: fit-content;
        align-items: center;
        margin: 90px auto 30px;
        @include tablet {
            align-items: center;
            justify-content: center;
        }
        .contact-now-button {
            font-family: "Yu Gothic Bold", sans-serif;
            width: 300px;
            height: 48px;
            width: 261px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            color: $dark-text;
            border: none;
            font-size: 20px;
            background-color: $accent-white;
            box-shadow: 0px 4px 10px rgba(198, 198, 198, 0.42);
            line-height: 32px;
        }
        .contact-now-button:last-of-type {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            text-transform: capitalize;
            background-color: $accent-gold;
            color: $accent-white;
            margin-left: 25px;
            font-size: 13px;
            box-shadow: 0px 4px 10px rgba(217, 217, 217, 0.42);
            @include tablet {
                margin-left: 0;
                margin-top: 29px;
            }
            .button-icon {
                width: 28px;
                height: 23px;
                margin-left: 29px;
            }
        }
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;

        &-input-wrapper {
            margin: 21px 0;
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            @include desktop {
                flex-direction: column;
            }
            .form-input {
                font-family: "Montserrat", sans-serif;
                width: 282px;
                height: 37px;
                border: none;
                background: $gray-f1;
                padding-left: 19px;
                transition: 0.3s;
                @include desktop {
                    margin-bottom: 20px;
                    width: 100%;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
                @include desktop-large-and-up {
                    width: 330px;
                }
                &::placeholder {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 12px;
                    color: $gray-80;
                }
            }
        }
        .form-text-area {
            width: 100%;
            border: none;
            background: $gray-f1;
            height: 146px;
            resize: none;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: $gray-80;
        }
        .form-checkbox-wrapper {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 20px;
            .form-checkbox {
                width: 8px;
                height: 8px;
                margin-right: 7px;
                @include tablet {
                    width: 13px;
                    height: 13px;
                    margin-right: 0;
                    margin-bottom: 7px;
                }
                @include desktop-large-and-up {
                    width: 13px;
                    height: 13px;
                }
                background-color: transparent;
                &:focus-visible,
                &:focus {
                    outline: none;
                }
            }
            label {
                font-size: 10px;
                font-weight: 400;
                line-height: 15px;
                font-family: "Montserrat";
                color: $gray-80;
                margin: 0;
                word-break: break-all;
                text-align: center;
                @include desktop-large-and-up {
                    font-size: 15px;
                }
            }
        }
        input {
            background: #f1f1f1 !important;
        }
        input,
        textarea {
            &:focus,
            &:focus-visible {
                outline: 1px solid #f1f1f1;
            }
        }
        .send-button {
            border: none;
            background-color: $accent-black-1b;
            color: $accent-white;
            font-size: 18px;
            font-weight: 600;
            width: 100%;
            max-width: 187px;
            height: 52px;
            text-align: center;
            margin-top: 25px;
            align-self: center;
            font-family: "Montserrat", sans-serif;
        }
    }
    .heading-form {
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        color: $accent-gold;
        font-weight: 600;
    }
    .text-form {
        font-size: 15px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        color: $dark-text;
    }
    .form-text-area {
        padding: 20px;
    }
}
