footer {
    background: $dark-text;
    color: $accent-white;
}
.footer-wrapper {
    .logo {
        font-family: "Ragista";
        font-size: 45px;
    }
    .footer-content-title {
        padding: 25px 0 5px;
        font-weight: 700;
        font-size: 15px;
        color: $accent-gold;
    }
    .footer-content-text {
        display: block;
        color: $accent-white;
        text-decoration: none;
        font-family: "Actor";
        font-size: 14px;
        font-weight: 400;
        margin: 0px !important;
        line-height: 20px;
        &:hover {
            text-decoration: underline;
            color: $accent-white;
        }
    }
    .footer-text {
        text-align: center;
        color: $gray-80;
        font-size: 12px;
        font-family: "Montserrat";
    }
    .footer-link {
        text-decoration: none;
        display: inline-block;
        margin-right: 5px;
        color: $accent-white;
        transition: 0.3s;
        &:hover {
            color: $accent-gold;
        }
    }
    .label-footer {
        font-family: "Montserrat";
        font-size: 20px;
    }
    .input-footer {
        width: 100%;
        display: block;
        padding: 10px;
        color: $gray-c4;
        border: none;
    }
    .btn-footer {
        background-color: $accent-gold;
        color: $accent-white;
        margin-top: 5px;
        padding: 10px;
        border: none;
        font-weight: 600;
        font-size: 15px;
    }
}
