.service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $accent-white;
    box-shadow: 0px 7px 20px rgba(129, 129, 129, 0.2);
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    color: $dark-text;
    padding: 0 38px;
    padding-top: 32px;
    padding-bottom: 18px;
    &-icon {
        color: $accent-gold;
        display: inline-block;
        width: 45px;
        height: 45px;
    }
    &-title {
        font-weight: 700;
        font-size: 18px;
        margin: 16px 0 5px 0;
        line-height: 22px;
    }
    &-text {
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        height: 90px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    &-link {
        font-weight: 600;
        font-size: 12px;
        border: 1px solid $gray-be;
        display: flex;
        width: 141.22px;
        justify-content: center;
        padding: 10px 0;
        transition: 0.3s;
        color: $dark-text;
        transition: 0.3s;
        &:hover {
            background-color: $gray-be;
            color: $accent-white;
            text-decoration: none;
        }
    }
}

.service-icon {
    width: 72px;
    height: 68px;
    color: $accent-gold;
}
.service-info-title {
    font-family: "Yu Gothic Bold";
    color: $dark-text;
    font-size: 24px;
}
.service-info-text {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: $dark-text;
}

.item-left-title {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    color: $dark-text;
}

.single-service-info {
    @include mobile {
        h3,
        p {
            text-align: center;
        }
    }
    p {
        margin: 0;
    }
    padding: 80px 0;
}
.service-items-list {
    padding: 59px 0;
    background-color: $gray-ed;

    .service-item-section-container {
        margin-top: 30px;
        &:first-of-type {
            margin-top: 0;
        }
        display: -webkit-box;
        align-items: center;
        .service-radio-button {
            display: flex;
            margin-right: 16px;
            font-size: 18px;
            line-height: 18px;
            width: 18px;
            height: 18px;
            border: 1px solid $dark-text;
            border-radius: 50%;
            justify-content: center;
            cursor: pointer;

            span {
                display: none;
            }
        }

        .service-item-section {
            display: flex;
            background: $accent-white;
            padding: 15px;
            flex-grow: 1;

            .item-left-section {
                width: 50%;

                .item-left-text {
                    font-family: "Yu Gothic", sans-serif;
                    font-size: 12px;
                    line-height: 15px;
                    font-weight: 500;
                    margin: 0;
                }
            }
            .item-right-section {
                width: 50%;
                text-align: end;
                align-self: center;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: auto;
                    width: 67px;
                    height: 30px;
                    background: $accent-gold-f9;
                    // text-align: center;
                    font-family: "Montserrat", sans-serif;
                    font-weight: bold;
                    color: $dark-text;
                }
            }
        }
    }
    .single-service-button {
        font-family: "Montserrat", sans-serif;
        background: $accent-gold;
        color: $accent-white;
        color: $accent-white;
        font-size: 20px;
        width: 250px;
        height: 49px;
        font-weight: bold;
        border: none;
        @include desktop {
            margin-left: 30px;
        }
        @include tablet {
            margin-top: 30px;
        }
    }
}
.services-description-section,
.services-slider-section {
    .section-title {
        font-family: "Yu Gothic Bold";
    }
    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $dark-text;
    }
}

.service-description-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 48px;
    background: $accent-white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
    &:nth-of-type(even) {
        flex-direction: row-reverse;
        margin-bottom: 0;
    }

    @include desktop {
        flex-direction: column;
    }
    .service-description {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 35px;
        width: 100%;

        @include desktop {
            align-items: center;
            width: 100%;
        }
        .service-desc-title {
            font-family: "Yu Gothic Bold", sans-serif;
            color: $dark-text;
            font-size: 24px;
            font-weight: 700;
            line-height: 80px;
        }
        .service-desc-text {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: $dark-text;
            width: 100%;
            max-width: 474px;
        }
        @include desktop {
            text-align: center;
        }
    }
    &:nth-of-type(even) {
        display: flex;
        justify-content: flex-end;
        @include desktop {
            flex-direction: column;
        }

        .service-description {
            align-items: flex-end;
            text-align: right;
            @include desktop {
                align-items: center;
                text-align: center;
            }
        }
    }
}
.checked-radio {
    background: $dark-text;
    height: 8px;
    width: 8px;
    display: inline-block !important;
    border-radius: 50%;
    align-self: center;
}
